<div #view>
  <div [class]="show ? '' : 'd-none'" (click)="modalClickHandler($event)">
    <div class="vw-100 vh-100 bg-black opacity-75 fixed-top"></div>

    <div class="modal d-block" tabIndex="{-1}">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ title }}</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Закрыть"
              (click)="handleClose!()"
            ></button>
          </div>
          <div class="modal-body">
            <p>{{ text }}</p>
          </div>
          <div class="modal-footer">
            <a
              *ngIf="okIsLink && to; else noLink"
              [routerLink]="to"
              class="btn btn-success"
              (click)="handleSave!()"
            >
              {{ textOkButton }}
            </a>

            <ng-template #noLink>
              <button class="btn btn-success" (click)="handleSave!()">
                {{ textOkButton }}
              </button>
            </ng-template>

            <button
              class="btn btn-danger"
              data-bs-dismiss="modal"
              (click)="handleClose!()"
            >
              {{ textCancelButton }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
