<div #view>
  <h1 class="text-center mt-3">Список заметок!</h1>

  <hr class="border border-dark border-2 opacity-50" />

  <h2 *ngIf="!(notes && notes?.length)" class="mb-4 text-center text-warning">
    Заметок пока нет. Добавьте первую заметку.
  </h2>

  <div class="d-flex w-100 justify-content-center">
    <a
      routerLink="/new"
      class="btn btn-success mb-3 text-decoration-none text-white"
    >
      Добавить заметку
    </a>
  </div>

  <div *ngIf="notes && notes?.length">
    <app-note
      *ngFor="let note of notes!; let index = index"
      [_id]="note._id"
      [title]="note.title"
      [todos]="note.todos"
      [completed]="note.todos.length && completed ? completed[index] : false"
      [onDelete]="handleDelete(note._id)"
      [isOpen]="true"
      to="/notes"
    ></app-note>

    <app-modal
      [show]="modalDialog.show"
      [title]="modalDialog.title"
      [text]="modalDialog.text"
      [textOkButton]="modalDialog.textOkButton"
      [textCancelButton]="modalDialog.textCancelButton"
      [handleClose]="modalDialog.handleClose"
      [handleSave]="modalDialog.handleSave"
      [okIsLink]="modalDialog.okIsLink"
      [to]="modalDialog.to"
    ></app-modal>
  </div>
</div>
